## Package Import

In [2]:
import pandas as pd

## Import CSV

In [4]:
df = pd.read_csv('raw_data_usa.csv')

In [5]:
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$70K-$116K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
1,1,Sr Data Scientist,$70K-$116K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
2,2,Data & Analytics Consultant,$70K-$116K (Glassdoor est.),WHO WE LOOK FOR\n\nAn SEI Consultant is a mast...,4.6,SEI\n4.6,"Cincinnati, OH","Cincinnati, OH",201 to 500 employees,1992,Company - Private,Consulting,Business Services,$50 to $100 million (USD),-1
3,3,"Scientist, Pharmacology",$70K-$116K (Glassdoor est.),Sutro has a unique capability that enables new...,4.3,Sutro Biopharma\n4.3,United States,"South San Francisco, CA",51 to 200 employees,2003,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1
4,4,R&D Scientist,$70K-$116K (Glassdoor est.),"Since 2001, Hygiena has been on a mission to b...",3.9,Hygiena\n3.9,"New Castle, DE","Camarillo, CA",201 to 500 employees,-1,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$100 to $500 million (USD),"Ecolab, Eurofin Private Investment Office"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,985,Machine Learning Scientist / Engineer,$141K-$222K (Glassdoor est.),", 2020\nRole Number:\n200152401\nImagine what ...",4.1,Apple\n4.1,"Santa Clara, CA","Cupertino, CA",10000+ employees,1976,Company - Public,Computer Hardware & Software,Information Technology,$10+ billion (USD),"Google, Microsoft, Samsung Electronics"
986,986,Data Scientist,$141K-$222K (Glassdoor est.),Job Description\nAbout Infinitive:\n\nAt Infin...,3.4,Infinitive Inc\n3.4,"McLean, VA","Cedar Rapids, IA",201 to 500 employees,1997,Company - Private,Enterprise Software & Network Solutions,Information Technology,$10 to $25 million (USD),-1
987,987,Data Scientist,$141K-$222K (Glassdoor est.),MUST HAVE SECRET CLEARANCE\n\nDescription:\nDe...,3.4,"MILVETS Systems Technology, Inc.\n3.4","Patuxent River, MD","Orlando, FL",51 to 200 employees,1986,Company - Private,IT Services,Information Technology,$25 to $50 million (USD),-1
988,988,Data Scientist,$141K-$222K (Glassdoor est.),Job SummaryJob Title: Data ScientistEmployer: ...,2.4,Avantor\n2.4,"Wayne, PA","Radnor, PA",10000+ employees,1904,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$2 to $5 billion (USD),"Thermo Fisher Scientific, MilliporeSigma, Merc..."
989,989,Data Scientist,$141K-$222K (Glassdoor est.),Job Description\nAuSuM Systems is a global lea...,4.5,AuSuM Systems\n4.5,"Miami, FL","Miami, FL",1 to 50 employees,1994,Company - Private,-1,-1,$10 to $25 million (USD),-1

In [6]:
df = df.drop('Unnamed: 0', axis=1)

In [8]:
# salary parsing
# company name text only
# state field
# age of company
# parsing of job description(python, etc)

# df = df[df['Salary Estimate'] != '-1'] # if salary estimate missing

In [10]:
df.shape

(990, 14)

## Salary Parsing

In [11]:
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [14]:
minus_kd = salary.apply(lambda x: x.replace('$', '').replace('K',''))

In [48]:
minus_kd.value_counts()

141-222     64
79-125      32
145-163     32
110-139     32
113-182     32
92-151      32
70-118      32
102-164     32
79-133      32
148-174     32
92-147      32
61-104      32
105-166     32
141-225     32
96-156      32
66-112      32
85-137      32
110-174     32
79-131      32
79-130      32
65-107      32
52-91       32
135-165     32
78-128      32
80-132      32
59-100      32
99-110      32
92-155      32
55-91       32
70-116      30
Name: Salary Estimate, dtype: int64

In [17]:
# df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0) # "if there are hourly"
# df['hourly'].value_counts()
# df = df.drop('hourly', axis = 1) # " since no hourly"

In [43]:
df['min_salary'] = (minus_kd.apply(lambda x: x.split('-')[0])).astype(int)

In [44]:
df['max_salary'] = (minus_kd.apply(lambda x: x.split('-')[1])).astype(int)

In [45]:
df['avg_salary'] = (df.min_salary + df.max_salary)/2

In [57]:
df['avg_salary'].value_counts()

106.0    64
104.5    64
181.5    64
135.5    32
86.0     32
89.0     32
103.0    32
105.0    32
111.0    32
73.0     32
126.0    32
71.5     32
142.0    32
183.0    32
94.0     32
102.0    32
79.5     32
124.5    32
154.0    32
150.0    32
147.5    32
133.0    32
121.5    32
123.5    32
82.5     32
119.5    32
161.0    32
93.0     30
Name: avg_salary, dtype: int64

## Company Text Parsing

In [53]:
df['company_txt'] = df['Company Name'].apply(lambda x: x.split('\n')[0])

In [55]:
df['company_txt'].value_counts()

Moderna Therapeutics            21
Wells Fargo                     19
AstraZeneca                     17
MITRE                           11
Southwest Research Institute    11
                                ..
AbbVie                           1
Criteo                           1
RADCube                          1
Livongo                          1
AgreeYa Solutions                1
Name: company_txt, Length: 539, dtype: int64

## Job State Parsing

In [ ]:
df['Location'].value_counts()

In [131]:
df['job_state'] = df['Location'].apply(lambda x: x[-2:] if ',' in x else x)

In [132]:
df['job_state'] = df['job_state'].apply(lambda x: x.replace('New Jersey', 'NJ')\
                                        .replace('New York State', 'NY').replace('Utah', 'UT')\
                                        .replace('California', 'CA').replace('Maryland', 'MD'))

In [138]:
# df['job_state'] = df['job_state'].apply(lambda x: x.replace('United States', df['Headquarters'].iloc[x.index]))
# df['job_state'] = df.apply(lambda x: x['Headquarters'][-2:] if x['job_state'] == 'United States' else x['job_state'])

In [140]:
df['job_state'].value_counts()

CA               193
VA               115
MA               114
NY                84
MD                46
IL                41
TX                39
PA                33
NC                31
OH                24
WA                24
NJ                18
IN                18
DC                17
FL                17
AZ                17
UT                16
CO                16
WI                14
MO                13
AL                 9
SC                 9
United States      9
IA                 8
MI                 8
MN                 6
GA                 6
OK                 6
TN                 5
OR                 5
CT                 5
Remote             5
AR                 4
NE                 3
NH                 3
MS                 2
AK                 1
ID                 1
NV                 1
LA                 1
DE                 1
RI                 1
HI                 1
Name: job_state, dtype: int64